---
import Layout from "../layouts/Layout.astro";
import RegisterForm from "@/components/auth/RegisterForm";
---

<Layout title="Create account">
  <main class="container mx-auto px-4 py-8">
    <section class="mx-auto flex w-full max-w-lg flex-col gap-6">
      <RegisterForm client:load />
    </section>
  </main>
</Layout>
