---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import RegisterForm from "@/components/auth/RegisterForm";

const { user } = Astro.locals;

if (user) {
  return Astro.redirect("/");
}
---

<Layout title="Create account - Stocksy">
  <main class="flex flex-1 flex-col items-center justify-center p-4 py-12 sm:px-6 lg:px-8">
    <div class="w-full max-w-sm space-y-6">
      <RegisterForm client:load />
    </div>
  </main>
</Layout>
